#top {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#top h4{
    text-align: center;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border: 8px solid #2ecc71;
    border-radius: 50%;
    background-color: #f1c40f;
}
#circle p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
#circle button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-color: transparent;
}
body {
    background-image: linear-gradient(to right, rgb(0, 225, 255) , rgb(0, 119, 255));
}